* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 70px;
  background-color: #eee;
  width: 100%;
}

.logo {
  width: 100%;
  height: 100%;
  max-width: 300px;
  justify-self: self;
}

nav {
  font-weight: 400;
}

.nav-bar-ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: black;
}

body {
  background-color: #eee;
  font-family: "Lato", sans-serif;
  padding: 8px;
  margin-top: 90px;
}

#form {
  text-align: center;
  margin-bottom: 40px;
}

#email {
  height: 25px;
}

#submit {
  background-color: #f1c40f;
  height: 25px;
  width: 60px;
}

#features {
  text-align: center;
}

.icon {
  padding: 10px 0;
  color: #f1c40f;
}

#video {
  display: block;
  margin: 10px auto;
  padding-top: 10px;
}

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.price-feature {
  list-style-type: none;
  padding: 12px;
}

.level {
  background-color: #f1c40f;
  color: black;
  padding: 15px 0;
  width: 100%;
  font-weight: 700;
  margin-bottom: 12px;
}

footer {
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 0;
}

.footer-ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.footer-li {
  padding: 0px 10px;
}

a {
  color: black;
}

.footer-span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}

@media only screen and (max-width: 600px) {
  #pricing {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
